.addTask {
  background-color: #d3d3d3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  &_first-container{
    margin-top:60px ;
  }
  &_heading{
    padding-bottom:40px;
    font-size: 30px;
    color: #0e2a47;
  }
  &_button{
    width: 200px;
    height: 80px;
    background-color:  #0e2a47;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }
}
.table{
    border: 1px solid red;
width: 900px;
height: auto;
    margin-top: 100px;
    &_heading-row{
        padding: 10px;
    }
}
.flex-row{
    display: flex;
    flex-direction: column;
    width: 100vh;
}
.table-container{
width: 100vw;
}
