.sidebar {
  width: 250px;
  height: 100vh;
  background-image: url("../assets/Sprinkle.svg");
  position: absolute;
  top: 0;
  &_logo-container {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  &_logo {
    font-size: 30px;
    color: white;
    letter-spacing: 2.5px;
    display: flex;
    &_second {
      color: red;
    }
  }
}

.sidebar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .sidebar_list {
    &_menu {
      color: white;
      height: 30px;
      width: 100%;
     margin-top: 25px;
      font-size: 18px;
      letter-spacing: 1.25px;
    }
    &_icon{
        margin-right: 10px;
    }
  }
}
.github-icon{
    margin-top: 100px;
}